@font-face {
    font-family: Poppins-Light;
    src: url(./font/Poppins-Light.ttf);
}
@font-face {
    font-family: Poppins-Thin;
    src: url(./font/Poppins-Thin.ttf);
}
* { 
    margin: 0;
}
.main{
    display:flex;
}

.sidebar {
    width:25%;
    height: 100vh;
    border: 1px solid gray;
}

.sidebar button{
    background: none;
    border:none;
    margin:10px;
}

.sidebar button:hover{
    background-color:rgb(240, 240, 240);
}

.right{
    float:right;
}

.sidebar-nav{
    border-bottom: 1px solid gray;
}

.entry{
    border: 1px solid gray;
    border-top: none;
    border-right: none;
    border-left: none;
    height: 100px;
    color:rgb(138, 138, 138);
    font-family: Poppins-Light;
    padding:3px 5px 3px 5px;
}

.entry:hover{
    background-color:rgb(240, 240, 240);
}

.header{
    display:flex;
    justify-content: space-between;
}

.date{
    float:right;
}

.screen{
    width: 100%;
    font-family: Poppins-Light;
}

.note{
    height:100%;
}

.note-header{
    margin-left:10px;
    font-size:35px;
    color:rgb(138, 138, 138);
}

.subtitle{
    font-size: 25px;
}

/* login */

.login {
    height: 100vh;
    text-align: center;
    background-color: #D9AFD9;
    background-image: linear-gradient(10deg, #D9AFD9 0%, #97D9E1 100%);
}

.card-container{
    display: grid;
    place-items: center;
    height: 100vh; 
}

.card {
    width:30%;
    height:50%;
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    background-color: #ffffff;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    font-family: Poppins-Thin;
    font-size: 25px;
}

.card h1{
    margin:20px;
}

.fields{
    display:flex;
    flex-direction: column;
}

.card-img{
    width:75px;
    transform: translateY(-25px);
}

.fields input {
    border: 1px solid gray;
    border-radius: 10px;
    padding:5px;
    margin-top: 20px;
    text-align: center;
    font-size:25px;
    height:30px;
    width:230px;
}

.card button{
    border:none;
    background-color:aquamarine;
    border-radius: 5px;
    font-size: 17px;
    margin: 20px 0px;
    height:35px;
    width:100px;
}
