@font-face {
    font-family: Poppins-Light;
    src: url(./font/Poppins-Light.ttf);
}
@font-face {
    font-family: Poppins-Thin;
    src: url(./font/Poppins-Thin.ttf);
}
* { 
    margin: 0;
}
.main{
    display:flex;
}

.sidebar {
    width:25%;
    height: 100vh;
    border: 1px solid gray;
}

.sidebar button{
    background: none;
    border:none;
    margin:10px;
}

.sidebar button:hover{
    background-color:rgb(240, 240, 240);
}

.right{
    float:right;
}

.sidebar-nav{
    border-bottom: 1px solid gray;
}

.entry{
    border: 1px solid gray;
    border-top: none;
    border-right: none;
    border-left: none;
    height: 100px;
    color:rgb(138, 138, 138);
    font-family: Poppins-Light;
    padding:3px 5px 3px 5px;
}

.entry:hover{
    background-color:rgb(240, 240, 240);
}

.header{
    display:flex;
    justify-content: space-between;
}

.date{
    float:right;
}

.screen{
    width: 100%;
    font-family: Poppins-Light;
}

.note{
    height:100%;
}

.note-header{
    margin-left:10px;
    font-size:35px;
    color:rgb(138, 138, 138);
}

.subtitle{
    font-size: 25px;
}
