<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/css/style.css">
	<title>Home</title>
</head>

<body onload="onLoad()">
	<div class="main">
		<div class="sidebar">
			<div class="sidebar-nav">
				<button title="Open Menu">
					<img src="./images/menu.svg" alt="">
				</button>
				<button class="right" id="add" onclick="addEntry()" title="Add Entry">
					<img src="./images/plus-circle.svg" alt="">
				</button>
			</div>

			<div class="entries" id="entries">

			</div>

		</div>
		<div class="screen">
			<div class="note">
				<div class="note-header">
					<input id="title-input" type="text" placeholder="Untitled">
					<p id="subtitle" class="subtitle">date</p>
				</div>

				<textarea name="note-edit" id="content-edit" cols="30" rows="10" placeholder="|"></textarea>

			</div>
		</div>
	</div>

	<script src="/js/script.js"></script>
</body>

</html>